/* CSS pour le conteneur autour du canvas */
.pie-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 800px;
  min-height: 400px; /* Dimension minimale pour éviter que le graphique disparaisse */
}

/* CSS pour le conteneur du pie chart */
.chart-pie {
  width: 100%;
  max-width: 800px; /* Largeur maximale pour le canvas */
  min-width: 300px; /* Largeur minimale pour le canvas */
  border-right: 1px solid black;
  padding: 10px;
  flex-grow: 1; /* Permettre au canvas de s'étendre */
}

.chart-legend-pie {
  padding-left: 0;
  text-align: left; /* Alignement à gauche */
}

.legend-item {
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* CSS pour le canvas du graphique */
.chart-pie canvas {
  max-width: 100%;
  display: block;
  margin: 0;
}

.result-container-pie {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: transparent;
}

.result-box-pie {
  display: flex;
  align-items: center;
  flex-direction: column; /* Change la direction en colonne pour les petits écrans */
  width: 500px;
  height: auto; /* Ajuste la hauteur automatiquement */
  padding: 10px;
  border: 3px solid #007bff;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-value-pie {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 64px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  height: 220px;
  color: #333;
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .pie-chart-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .chart-legend-pie {
    padding-left: 20px;
    text-align: left;
    width: 40%;
  }

  .result-box-pie {
    flex-direction: row;
    height: 250px;
  }

  .result-value-pie {
    margin-bottom: 0;
  }
}

.contain {
  display: block ruby;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.chart-dropdown {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4680bf;
  border-radius: 5px;
  color: white;
  margin: 10px;
  border: none;
  cursor: pointer;
}
